<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.abs_cbn.newsmobileapp">
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />
	<uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
	<application android:label="newsmobileapp.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.huawei.hms.client.appid" android:value="appid=101380773" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>